@font-face {
    font-family: "Montserrat";
    src: url("../resources/font/Montserrat-VariableFont_wght.woff") format("woff-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../resources/font/Montserrat-Italic-VariableFont_wght.woff") format("woff-variations");
    font-weight: 100 900;
    font-style: italic;
}

body {
    margin: 0px;
    color: white;
    font-family: "Montserrat";
}

.no-margin {
    margin: 0px;
}

.main-page {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background::after {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%; 

    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -200px 200px -80px rgba(0, 0, 0, 0.7), inset 0 0 100px 50px rgba(0, 0, 0, 0.2);
}

.landing {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition-property: opacity;
}

.upper-left {
    position: absolute;
    top: 60px;
    left: 60px;

    width: 300px;
    height: 84px;

    display: flex;
    align-items: center;
}

.server-icon {
    position: relative;

    width: 64px;
    height: 64px;
}

.menu {
    position: absolute;
    top: 200px;
    left: 60px;

    width: 64px;
    height: 300px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    position: relative;
    
    margin: 15px;
}

.menu-icon {
    position: relative;

    color: white;

    transition: color 0.3s, -webkit-text-stroke 0.3s;
}

.menu-icon:hover {
    color: rgba(0, 0, 0, 0);

    -webkit-text-stroke: 1px white;
}

.menu-partition {
    position: relative;

    width: 25px;
    height: 1px;

    margin: 10px 0 10px 0;
    background-color: rgba(120, 120, 120, 0.8);
}

.user-info {
    position: absolute;
    top: 60px;
    right: 60px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.skin-viewer-base {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 40px;

    border-radius: 50%;
    border: 2px solid white;
}

.skin-viewer {
    width: 50%;
    height: 94%;
}

.play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    position: relative;
    
    font-family: "Montserrat";
    color: white;
    font-size: 40px;
}

.play-button::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.play-button:hover::after {
    opacity: 1;
}

.players {
    position: absolute;
    bottom: 60px;
    left: 60px;

    width: 50px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.server-status {
    position: relative;

    width: 8px;
    height: 8px;

    margin: 13px;

    border-radius: 50%;
    background-color: orangered;
}

.main-page .partition {
    position: relative;

    width: 2px;
    height: 40px;

    margin: 0 20px 0 20px;
    background-color: rgba(120, 120, 120, 0.8);
}

.run-buttons {
    position: absolute;
    bottom: 60px;
    right: 60px;

    width: 600px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.settings-page {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
}

.settings-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.settings-menu {
    position: absolute;
    top: 87px;
    left: 80px;

    width: 180px;
    height: calc(100% - 87px - 87px);

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.settings-menu input {
    display: none;
}

.settings-menu p {
    font-size: 25px;
    margin: 0 0 55px 0;
}

.settings-menu label {
    color: rgb(120, 120, 120);
    margin: 0 0 16px 10px;

    cursor: pointer;
}

.settings-menu input:checked + label {
    color: white;
}

.settings-contents {
    position: absolute;
    top: 87px;
    left: 290px;

    width: calc(100% - 290px - 80px);
    height: calc(100% - 87px - 87px);
}

.settings-contents h1 {
    position: relative;

    font-size: 25px;
    font-weight: 400;
    margin: 0 0 55px 0;
}

.settings-contents h2 {
    position: relative;

    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0 0;
}

.settings-contents .partition {
    position: relative;

    width: 100%;
    height: 1px;

    background-color: rgba(120, 120, 120, 0.8);
    margin: 0 0 20px 0;
}

.account-page {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition-property: opacity;
}

.microsoft-logo {
    position:  relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.microsoft-logo i {
    margin: 0 5px 0 0;
}

.account-info {
    position: relative;

    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;
}

.account-info div {
    position: relative;

    font-size: 25px;
    margin: 0 0 0 15px;
}

.sign-out-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    position: absolute;
    right: 0;

    width: 120px;
    height: 30px;
    
    font-family: "Montserrat";
    font-size: 1em;
    color: orangered;

    border-radius: 3px;
    border: 1px solid orangered;

    transition: color 0.3s, background-color 0.3s;
}

.sign-out-button:hover {
    color: black;
    background-color: orangered;
}

.minecraft-page {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
}

.minecraft-page .game-directory-settings {
    position: relative;

    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
}

.minecraft-page .game-directory-settings div {
    width: calc(100% - 65px - 15px);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0 0 0 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

.minecraft-page .game-directory-settings button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    position: absolute;
    right: 0;
    
    width: 60px;
    height: 100%;

    color: white;
}

.mods-page {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
}

.mod-list {
    position: relative;

    width: 100%;
    height: calc(100% - 85px - 40px);
    
    overflow: auto;
}

.mod-list::-webkit-scrollbar {
    width: 4px;
}

.mod-list::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
    border-radius: 9999px;
}

.mod-lsit::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.mod-list .mod {
    position: relative;

    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}

.mod-list .mod p {
    margin: 0 0 0 15px;
}

.mod-list .mod .legacy {
    color: orangered;
}

.mod-list .mod .required::after {
    content: "REQUIRED";
    position: relative;
    left: 20px;

    font-size: 0.8em;
    border-radius: 3px;
    background-color: yellowgreen;
}

.mod-list .mod .legacy::after {
    content: "LEGACY";
    position: relative;
    left: 20px;

    font-size: 0.8em;
    border-radius: 3px;
    color: white;
    background-color: orangered;
}

.mod-list .mod .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    position: absolute;
    right: 0;

    width: 75px;
    height: 25px;

    color: orangered;
    
    border-radius: 3px;
    border: 1px solid orangered;

    transition: color 0.3s, background-color 0.3s;
}

.mod-list .mod .delete-button:hover {
    color: white;
    background-color: orangered;
}

.java-page {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
}

.java-setting {
    position: relative;

    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.java-setting .toggle-button {
    position: absolute;
    right: 0;

    width: 54px;
    height: 26px;
}

.java-setting .toggle-button input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;

    border-radius: 9999px;
    border: 1px solid white;

    transition: border 0.3s;
}

.java-setting .toggle-button input:checked {
    border: 1px solid yellowgreen;
}

.java-setting .toggle-button input::after {
    content: "";

    position: absolute;
    top: -2px;
    left: -2px;

    width: 28px;
    height: 28px;

    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);

    border-radius: 50%;
    background-color: white;

    transition: left 0.3s, background-color 0.3s;
}

.java-setting .toggle-button input:checked::after {
    left: 26px;
    background-color: yellowgreen;
}

.close-settings-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    position: absolute;
    top: 87px;
    right: 80px;
}

.overlay p span {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.overlay p span:nth-of-type(1) {
    animation-name: dot_1;
}

.overlay p span:nth-of-type(2) {
    animation-name: dot_2;
}

.overlay p span:nth-of-type(3) {
    animation-name: dot_3;
}

@keyframes dot_1 {
    0% {
        visibility: hidden;
    }
    24% {
        visibility: hidden;
    }
    25% {
        visibility: visible;
    }
}

@keyframes dot_2 {
    0% {
        visibility: hidden;
    }
    49% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
}

@keyframes dot_3 {
    0% {
        visibility: hidden;
    }
    74% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
}